// External Libraries
@import '~normalize.css/normalize';
@import '~breakpoint-sass/stylesheets/breakpoint';

// Components
@import '00-base/**/*.scss';
@import '01-atoms/**/*.scss';
@import '02-molecules/**/*.scss';
@import '03-organisms/**/*.scss';
@import '04-templates/**/*.scss';
@import '00-base/01-colors/colors-used.scss';

//Fonts for storybook
@font-face {
  font-family: Big Shoulders Inline Text;
  src: url('../assets/fonts/Big_Shoulders_Inline_Text/BigShouldersInlineText-VariableFont_wght.ttf');
};
@font-face {
  font-family: Work Sans;
  src: url('../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf'),
  url('../assets/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf');
};
@font-face {
  font-family: Big Shoulders Text;
  src: url('../assets/fonts/Big_Shoulders_Text/BigShouldersText-VariableFont_wght.ttf');
};

//Fonts for drupal site
@font-face {
  font-family: Big Shoulders Inline Text;
  src: url('/themes/custom/urbanobserver/assets/fonts/Big_Shoulders_Inline_Text/BigShouldersInlineText-VariableFont_wght.ttf');
};

@font-face {
  font-family: Work Sans;
  src: url('/themes/custom/urbanobserver/assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf'),
  url('/themes/custom/urbanobserver/assets/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf');
};

@font-face {
  font-family: Big Shoulders Text;
  src: url('/themes/custom/urbanobserver/assets/fonts/Big_Shoulders_Text/BigShouldersText-VariableFont_wght.ttf');
};

@font-face {
  font-family: Roboto Slab;
  src: url('/themes/custom/urbanobserver/assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
};
