.user-login-form, .user-register-form, .user-pass, .register-form {
  .form-item__label {
    color: black;
  }
  .form-submit{
    max-width: 200px;
  }
  .form-item__description{
    color: black;
  }
}
