{% set button__base_class = button__base_class|default('button-pricing-plans') %}
{% set button__attributes = button__attributes|default([]) %}

{% set button__attributes = button__attributes|merge({
  'class': bem(button__base_class, button__modifiers, button__blockname, button__additional_classes),
}) %}

<a href={{ subscription__link }} {{ add_attributes(button__attributes) }}>
  {% block button__subscription %}
    {{ button__content }}
  {% endblock %}
</a>
