/* Menu media */
$main-menu-medium: $medium;
.search-icon {
  display: none;
  @include medium {
    width: 24px;
    display: flex;
    cursor: pointer;

    svg {
      vertical-align: middle;
    }
  }
}

.search-icon--open {
  fill: $main-hover;
}

.nav-class--open {
  height: 40rem;

  .navigation-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    display: block;
    overflow-y: scroll;
    width: 100%;

    @include medium {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      width: auto;
      overflow-y: visible;
    }
  }

  .menu-logo {
    z-index: 5;
    position: absolute;
    font-family: $global-font-1;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    padding: 30px 0 0;
  }

  .little-pre-menu {
    display: inline-block;
    position: absolute;
    top: 29rem;
    padding-right: 1rem;
    width: 100%;
    left: 0;
    padding-left: 20px;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 36rem;
    padding-right: 1rem;
    width: 100%;
    left: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;

    ul {
      display: flex;
      margin: auto;

      li {
        list-style: none;
        padding: 20px;

        a {
          display: none;
        }

        .menu-link-contentsocial-links {
          width: 19px;
          height: 19px;

          a {
            display: flex;
          }
        }
        &:first-child {
          display: none;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }

  .button-see-pricing {
    display: flex;
    position: absolute;
    top: 32rem;
    padding-right: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 1rem;
    width: 80%;
    justify-content: center;
  }
}

.little-pre-menu {
  display: none;
}

.button-see-pricing {
  display: none;
}

.social-links {
  display: none;
}

/* Nav */
.navigation-nav {
  display: none;
  text-align: center;

  .menus {
    display: flex;
    margin: 40px auto;
    @include medium {
      display: flex;
      margin: auto;
    }
  }

  @include medium {
    display: flex;
  }
}


/* UL */
.navigation-menu {
  @include list-reset;

  position: relative;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;

  @include medium {
    border-bottom: none;
    height: 50px;
  }
}

.menu-logo {
  font-family: $global-font-3;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: black;
  @include medium {
    display: none;
  }

}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.navigation-menu--sub {
  height: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: none;
  background-color: clr(muted);


  @include medium {
    position: absolute;
    left: 0;
    top: 51px;
    z-index: 1;
    display: none;
    height: auto;
    overflow: visible;
    padding: 0;
    width: 315px;
    background-color: clr(accent-high);
    font-size: 0.9rem;
  }

  &:hover {
    .navigation-menu__link--sub {
      @include medium {
        color: clr(highlight);

        &.active,
        &:active,
        &:hover {
          background-color: clr(accent-high);
          color: clr(background);
        }
      }
    }
  }

  /* See account.js */
  &-open {
    height: auto;
  }
}

.navigation-menu--sub-2 {
  @include medium {
    display: none; /* Never shown on large screens */
  }
}

//search block
.search-block-form {
  width: 100%;
  padding: 0 20px;

  form {
    width: 100%;
    border-width: 1px 0 3px 1px;
    border-color: black;
    border-style: solid;
    height: 44px;

    .form-item {
      width: 100%;
      height: 44px;


      input {
        width: 100%;
        height: 40px;
        padding: 12px 16px;
        border: unset;
      }
    }

    .form-actions {
      height: 40px;
      width: 52px;
      margin-left: auto;

      input {
        background-color: black;
        opacity: 0;
      }

      &::before {
        content: url('/themes/custom/urbanobserver/assets/icons/icons8-search-30.png');
        position: absolute;
        width: 52px;
        background-color: black;
        height: 40px;
        padding: 5px 11px;
      }
    }
  }
}

.search-block-form {
  display: none;
}

.search-block-form--opens {
  display: flex;
  z-index: 8;
  position: absolute;
  top: 5rem;

  #search-block-form {
    flex-direction: row;
    display: flex;
  }
}

.search-block-form--open {
  @include medium {
    display: block;
    width: 884px;
    min-height: 32px;
    background-color: white;
    border: 2px black solid;
    right: 0;
    max-width: 360px;
    position: absolute;
    height: 82px;
    padding: 0;
    form {
      margin-left: auto;
      margin-right: 0;
      position: relative;
      padding: 20px;
      max-width: 360px;
      display: flex;
      border: unset;

      .form-actions {
        width: auto;

        input {
          background-color: $main-hover;
          opacity: 1;
          color: white;
          font-size: 12px;
          font-family: $global-font-2;
          font-weight: 500;
          width: 100%;
          height: 40px;
          padding: 12px 16px;
          border: unset;
        }

        &::before {
          display: none;
        }
      }

      .form-item {
        input {
          border: 1px black solid;
        }
      }
    }
  }
}
