/* LI */
.navigation-menu__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-family: $global-font-1;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;

  a {
    color: black;

    &:hover {
      color: $main-hover;
    }
  }

  &:last-child {
    border-bottom: 1px solid black;
    @include medium {
      border: none;
    }

    .navigation-menu--sub {
      @include medium {
        right: 0;
        left: auto;
      }
      @include large {
        left: 0;
      }
    }
  }

  @include medium {
    display: inline-block;
    border-top: none;

    /* Only top level */
    &:not(.navigation-menu__item--sub):focus-within,
    &:not(.navigation-menu__item--sub):hover {
      background-color: clr(accent-high);
      color: clr(highlight-high);

      & > .navigation-menu--sub {
        display: block;
        border-width: 1px 1px 3px;
        border-color: black;
        border-style: solid;
      }
    }
  }
}

/* Expand Button */
.expand-sub {
  display: none;
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.navigation-menu__item--sub {
  @include medium {
    display: block;

    &:not(:first-child) {
      border-top: 1px solid clr(highlight);
    }
  }
}




