/* Toggle */
.toggle-expand {
  @include link;
  position: absolute;
  top: 1rem;
  display: inline-block;
  margin-top: -1rem;
  padding: 1rem;
  width: 100%;
  text-decoration: none;


  /* See account.js */
  &--open {
    background-color: white;
    height: 100%;
  }

  @include medium {
    display: none;
  }
}
/* SVG icon */
.toggle-expand__icon {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  vertical-align: middle;

}

.toggle-expand__open {
  display: inline-block;
  float: right;
  text-align: center;

  .toggle-expand--open & {
    display: none;
  }

  svg {
    fill: black;
  }
}

.toggle-expand__close {
  display: none;
  float: right;
  text-align: center;
  background-color: black;
  margin-top: 1rem;

  .toggle-expand--open & {
    display: inline-block;
  }
}
