.header {
  .newsletter-block-observer {
    display: none;
    @include medium {
      display: flex;

      .logo-observer {
        margin: auto;
      }
      .button-newsletter {
        margin: auto 0;
        text-decoration: none;
      }
      .button-pricing-plans {
        margin: auto 0;
      }
    }
  }
  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    @include medium {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: $space 0;
    }
  }

  &__branding {
    max-width: 190px;
    padding: 1rem 0;

    @include medium {
      margin-right: $space;
      max-width: 300px;
      padding: 0;
    }
  }
}
