<div class="logo-menu">
{% include "@atoms/buttons/newsletter/newsletter.twig" %}
{% include "@molecules/logo/logo-observer/logo-observer.twig" %}
{% include "@atoms/buttons/pricing-plans/pricing-plans.twig" %}
</div>>
